.container .containWrap .containInner   { width:100%; height:520px; overflow:hidden; padding:0 10px; }

.container .containWrap .containInner .first    { width:17%; height:100%; float:left; position:relative; }
.container .containWrap .containInner .first>a  { display:block; width:31px; height:121px; text-align:center; vertical-align:center; background:url(../img/sub/char_box_bg.png) 0 0/cover no-repeat; font-size:1.5rem; font-weight:bold; letter-spacing:-0.25px; color:#fff; line-height:18px; padding-top:33px; margin-top:42px; }
.container .containWrap .containInner .first:after    { content:''; width:calc(100% - 31px); height:1px; background:#d9d9d9; position:absolute; left:31px; top:102px; }

.container .containWrap .containInner .second   { width:25%; height:100%; float:left; position:relative; }
.container .containWrap .containInner .second>a:first-of-type   { float:left; margin-top:42px; display:block; width:26px; height:121px; border:2px solid #6087c2; text-align:center; font-size:1.2rem; font-weight:bold; letter-spacing:-0.5px; color:#225197; line-height:13px; padding-top:34px; }
.container .containWrap .containInner .second>a:nth-of-type(2)  { float:left; margin:217px 0 0 3px; display:block; width:24px; height:108px; text-align:center; padding-top:8px; border:2px solid #96b2da; font-size:1.2rem; font-weight:bold; letter-spacing:-0.5px; color:#1b4178; line-height:13px; position:relative; background:#fff; }
.container .containWrap .containInner .second:after     { content:''; width:calc(100% - 26px); height:1px; background:#d9d9d9; position:absolute; left:26px; top:102px; }
.container .containWrap .containInner .second:before    { content:''; width:1px; height:323px; background:#d9d9d9; position:absolute; right:12px; top:102px; }
.container .containWrap .containInner .second>a:nth-of-type(2):before   { content:''; width:1px; height:115px; background:#d9d9d9; position:absolute; top:-116px; left:50%; z-index:-1;}

.container .containWrap .containInner .third        { width:58%; height:100%; float:left; position:relative; }
.container .containWrap .containInner .third .left      { width:calc(100% - 113px); height:100%; position:absolute; left:0; top:0; }
.container .containWrap .containInner .third .right     { width:125px; height:100%; position:absolute; right:0; top:0; }
.container .containWrap .containInner .third .left a      { display:block; width:24px; height:108px; text-align:center; border:2px solid #96b2da; font-size:1.2rem; font-weight:bold; letter-spacing:-0.5px; color:#1b4178; line-height:13px; position:relative; background:#fff; margin-left:30.6%; z-index:100; }
.container .containWrap .containInner .third .left>a:first-child  { padding-top:21px; margin-bottom:30px; }
.container .containWrap .containInner .third .left>a:nth-child(2)     { padding-top:21px; margin-bottom:10px; } 
.container .containWrap .containInner .third .left>a:nth-child(3)     { padding-top:14px; } 
.container .containWrap .containInner .third .left:before   { content:''; position:absolute; left:0; top:53px; width:1px; height:258px; background:#d9d9d9; }
.container .containWrap .containInner .third .left:after   { content:''; position:absolute; left:0; top:114px; width:100%; height:1px; background:#d9d9d9; }
.container .containWrap .containInner .third .left .bar1   { display:block; position:absolute; left:0; top:53px; width:100%; height:1px; background:#d9d9d9; }
.container .containWrap .containInner .third .left .bar2   { display:block; position:absolute; left:0; top:191px; width:calc(100% - 12px); height:1px; background:#d9d9d9; }
.container .containWrap .containInner .third .left .bar3   { display:block; position:absolute; left:0; top:310px; width:calc(100% - 12px); height:1px; background:#d9d9d9; }
.container .containWrap .containInner .third .left .bar4   { display:block; position:absolute; left:-12px; top:424px; width:100%; height:1px; background:#d9d9d9; }

.container .containWrap .containInner .third .right ul      { overflow:hidden; position:relative; }
.container .containWrap .containInner .third .right .g1    { margin:13px 0 5px 0; }
.container .containWrap .containInner .third .right .g3         { margin-top:7px; }
.container .containWrap .containInner .third .right .g4       { margin:7px 0 3px 0; }
.container .containWrap .containInner .third .right li     { width:100%; height:21px; margin-bottom:7px; position:relative; }
.container .containWrap .containInner .third .right li:before     { content:''; width:calc(100% - 113px); height:1px; background:#d9d9d9; position:absolute; left:0; top:11px; }
.container .containWrap .containInner .third .right a    { display:block; float:right; width:113px; height:21px; line-height:19px; border:1px solid #afb0b0; text-align:center; font-size:1.2rem; font-weight:bold; letter-spacing:-0.75px; color:#4a4a4a; }
.container .containWrap .containInner .third .right .g2 li:before   { content:none; }
.container .containWrap .containInner .third .right .g1 li:nth-of-type(2):before     { content:none; }
.container .containWrap .containInner .third .right .g1:before  { content:''; width:1px; height:calc(100% - 27px); background:#d9d9d9; position:absolute; left:0; top:10px; }
.container .containWrap .containInner .third .right .g3:before  { content:''; width:1px; height:calc(100% - 27px); background:#d9d9d9; position:absolute; left:0; top:10px; }
.container .containWrap .containInner .third .right .g4:before  { content:''; width:1px; height:calc(100% - 27px); background:#d9d9d9; position:absolute; left:0; top:10px; }
.container .containWrap .containInner .third .right .g5:before  { content:''; width:1px; height:calc(100% - 27px); background:#d9d9d9; position:absolute; left:0; top:10px; }
/* ---------------------------------------768----------------------------------------- */
@media all and (min-width:768px){
    .container .containWrap .containInner   { width:93.75%; height:860px; margin:0 auto; overflow:hidden; padding:0; }

    .container .containWrap .containInner .first    { width:17%; height:100%; float:left; position:relative; }
    .container .containWrap .containInner .first>a  { width:50px; height:180px; font-size:2.3rem; font-weight:500; letter-spacing:-0.25px; line-height:30px; padding-top:48px; }
    .container .containWrap .containInner .first:after    { width:calc(100% - 50px); left:50px; top:132px; }

    .container .containWrap .containInner .second>a:first-of-type   { width:50px; height:180px; font-size:2.1rem; font-weight:500; line-height:22px; padding-top:44px; }
    .container .containWrap .containInner .second>a:nth-of-type(2)  { margin:289px 0 0 40px; width:50px; height:180px; padding-top:23px; font-size:1.8rem; font-weight:500; line-height:19px; }
    .container .containWrap .containInner .second:after     { width:calc(100% - 50px); left:50px; top:132px; }
    .container .containWrap .containInner .second:before    { height:545px; top:133px; }
    .container .containWrap .containInner .second>a:nth-of-type(2):before   { height:157px; top:-159px; left:50%; z-index:-1;}

    .container .containWrap .containInner .third .left      { width:calc(100% - 180px); }
    .container .containWrap .containInner .third .right     { width:192px; }
    .container .containWrap .containInner .third .left a      { width:50px; height:180px; font-size:1.7rem; font-weight:500; line-height:24px; margin-left:28.6%; }
    .container .containWrap .containInner .third .left>a:first-child  { padding-top:28px; margin-bottom:30px; }
    .container .containWrap .containInner .third .left>a:nth-child(2)     { padding-top:30px; margin-bottom:10px; } 
    .container .containWrap .containInner .third .left>a:nth-child(3)     { padding-top:18px; } 
    .container .containWrap .containInner .third .left:before   { top:90px; height:400px; }
    .container .containWrap .containInner .third .left:after   { top:186px; }
    .container .containWrap .containInner .third .left .bar1   { top:90px; }
    .container .containWrap .containInner .third .left .bar2   { top:300px; width:calc(100% - 12px); }
    .container .containWrap .containInner .third .left .bar3   { top:490px; width:calc(100% - 12px); }
    .container .containWrap .containInner .third .left .bar4   { left:-12px; top:677px; }

    .container .containWrap .containInner .third .right ul      { overflow:hidden; position:relative; }
    .container .containWrap .containInner .third .right .g1    { margin:27px 0 6px 0; }
    .container .containWrap .containInner .third .right .g3         { margin-top:7px; }
    .container .containWrap .containInner .third .right .g4       { margin:7px 0 3px 0; }
    .container .containWrap .containInner .third .right li     { width:100%; height:38px; margin-bottom:7px; position:relative; }
    .container .containWrap .containInner .third .right li:before     { width:calc(100% - 180px); top:19px; }
    .container .containWrap .containInner .third .right a    { width:180px; height:38px; line-height:36px; font-size:1.4rem; font-weight:500; }
    .container .containWrap .containInner .third .right .g2 li:before   { content:none; }
    .container .containWrap .containInner .third .right .g1 li:nth-of-type(2):before     { content:none; }
    .container .containWrap .containInner .third .right .g1:before  { height:calc(100% - 45px); top:19px; }
    .container .containWrap .containInner .third .right .g3:before  { height:calc(100% - 45px); top:19px; }
    .container .containWrap .containInner .third .right .g4:before  { height:calc(100% - 45px); top:19px; }
    .container .containWrap .containInner .third .right .g5:before  { height:calc(100% - 45px); top:19px; }
}
/* ---------------------------------------1024----------------------------------------- */
@media all and (min-width:1024px){
    .container .containWrap .containInner   { width:92.1875%; }
}
/* ---------------------------------------1280----------------------------------------- */
@media all and (min-width:1280px){
    .container .containWrap .containInner   { width:1200px; }
}