@charset "utf-8";
@font-face {
    font-family: '나눔바른고딕';
    src: url(../fonts/NanumBarunGothic.eot);
    src: url(../fonts/NanumBarunGothic.eot) format('embedded-opentype'),
        url(../fonts/NanumBarunGothic.woff2) format('woff2'),
        url(../fonts/NanumBarunGothic.woff) format('woff'),
        url(../fonts/NanumBarunGothic.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

* 			{ margin:0; padding:0; box-sizing:border-box; font-family:'Nanum Gothic', sans-serif,'나눔바른고딕','돋움',dotum,sans-serif; font-weight:400; }
html  		{ font-size: 0.625em; }
ul,ol,li  	{ list-style-type:none; }
html,body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,table,tr,th,td 		{ margin:0; }
a 			{ text-decoration:none; color:#000; }
button 		{ border:none; background:none; text-indent:-9999px; cursor:pointer; }
img			{ border:0; vertical-align:middle; max-width:100%; width:auto; }
fieldset 	{ border:0; }
.title 		{ text-indent:-9999px; font-size:0; }
.blind 		{ position:absolute; top:-9999px; left:-9999px; }
.indent 	{ text-indent:-9999px; font-size:0; }
.clear:after { content:""; display:block; clear:both; }
.none 		{ display:none; }  
.slick-list			{ overflow:hidden; }
.slick-slide		{ float:left; }